<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Unexpected Error</title>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
    <link rel='icon' href='https://lh3.googleusercontent.com/zrh9kGnjRd6vw7c6CptqoATtoeuYV9JLFLDvAGpQPI1FUshrl6d85jD7e6JOsWgniA=w144-h144-n-rw' type='image/x-icon'/ >
    <title>Unexpected Error | KamaSystems</title>
    
    <style>
    body {
  display: inline-block;
  background: #00AFF9 url(https://cbwconline.com/IMG/Codepen/Unplugged.png) center/cover no-repeat;
  height: 100vh;
  margin: 0;
  color: white;
}

h1 {
  margin: .8em 3rem;
  font: 4em Roboto;
}
p {
  display: inline-block;
  margin: .2em 3rem;
  font: 2em Roboto;
}
    </style>

</head>

<body>
    <h1> Whoops! </h1>
    <p> Something went wrong</p>
</body>
</html>

